.DS_Store
__pycache__/
*.pyc
*.pyo

# Model checkpoints & weights
*.pth
*.pkl
*.pickle
*.dat
*.pickle.dat

# MediaPipe task models
*.task

# Keypoints & dataset
include_dataset/
keypoints/
*_keypoints/
*_features/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
